body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    margin: 0.3%;
    background: #E4C5AF;
    
    }

header, footer, article, nav, div {
    margin: 0.3%;
    padding: 2vh 1.2vw;
    background: #9ECE9A;
    border-radius: 10px;
    }

#pageHeader {
    width: 100%;
    }

#pageHeader h1 {
    line-height: 0;
    margin: 7vh 1%;
    display: block;
    /*padding: 10px 0 10px 0;*/ 
    font-size: 40px;
    }

#pageFooter {
    width: 100%;
    }

#pageFooter h2 {
    line-height: 0;
    font-size: 30px;
    text-align: right;
    margin: 17px 0;
    }

#mainArticle { 
    /*
    flex-basis: 60%;
    flex-grow: 2;*/     
    }

#mainArticle img {
        max-width: 20vw;
        float: left;
        margin: 10px;
    }

#mainArticle img.right {
        float: right;
    }

#mainArticle p {
    text-align:justify;
}

#mainArticle li{
    position: relative;
    left: 19px;
}

ol {padding: 0px;}

#mainNav { 
    flex-basis: 30%;
    }

#mainNav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    } 

#mainNav li {
    text-align: center;
    background-color: #077187;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    margin: 10px;
    }

#mainNav li:hover {
        background-color: #074F57;
    }

#mainNav a {
    color: #9ECE9A;    
    }

#pageBar { 
    width: auto;
    }

#pageBar marquee {
        margin: 5px 0;
    }

#pageRightPanel {
    flex-basis: 150px;
    /*flex-grow: 1; */
    }

div.mainContainer
{
    margin:0;
    padding:0;
    display: flex;
    width: 100%;
    background: #E4C5AF;
}

div.innerContainer
{
    flex-grow: 4;
    flex-direction: column;
    margin:0;
    padding:0;
    display: flex;
    background: #E4C5AF;
}

div.innerInnerContainer
{
    flex-direction: row;
    margin:0;
    padding:0;
    display: flex;
    background: #E4C5AF;
}