body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    height: 100vh;
    margin: 0.6vh 0.2vw;
    background: #E4C5AF;
    
    }

header, footer, article, nav, div {
    margin: 0.6vh 0.2vw ;
    padding: 2vh 1.2vw;
    background: #9ECE9A;
    border-radius: 10px;
    display: block;
    float: left;
    }

    div.centralBlock {
        background: #E4C5AF;
        margin: 0;
        padding: 0;
        /*
        width: 100%;
        min-height: 70vh;
        overflow: hidden;
        position: relative;
        */
    }

#pageHeader {
    width: 97.2%;
    height: 20vh;
    }

#pageHeader h1 {
    line-height: 0;
    margin: 7vh 1%;
    display: block;
    /*padding: 10px 0 10px 0;*/ 
    font-size: 40px;
    }

#pageFooter {
    width: 97.2%;
    height: 60px;
    }

#pageFooter h2 {
    line-height: 0;
    font-size: 30px;
    text-align: right;
    margin: 17px 0;
    }

#mainArticle { 
    height: 100%;
    width: 55vw;      
    }

#mainArticle img {
        max-width: 20vw;
        float: left;
        margin: 10px;
    }

#mainArticle img.right {
        float: right;
    }

#mainArticle p {
    text-align:justify;
}

#mainArticle li{
    position: relative;
    left: 19px;
}

ol {padding: 0px;}

#mainNav { 
    height: 117vh;
    width: 20vw; 
    /*display: inline-block;*/
    
    }

#mainNav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    } 

#mainNav li {
    text-align: center;
    background-color: #077187;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    margin: 10px;
    }

#mainNav li:hover {
        background-color: #074F57;
    }

#mainNav a {
    color: #9ECE9A;    
    }

#pageBar { 
    width: 72.9vw;
    height: 60px; 
    }

#pageBar marquee {
        margin: 5px 0;
    }

#pageRightPanel {
    
    height: 103.7vh;
    width: 14.9vw;
    }